@import "../../styles/variables.scss";

.Topbar {
    width: 100%;
    background-color: $red;
    padding: 2px 0;

    & .TopbarContent {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: flex-end;

        &>a {
            color: aliceblue;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 3px;
        }
    }
}
