.Gallary {
    width: 500px;
    height: 500px;
    border: 1px solid red;

    &>img {
        width: 100%;
    }
}

.Thumb {
    width: 100%;
    min-height: 100px;
    display: flex;
    overflow: hidden;

    >img {
        width: 25%;

    }

    border: 1px solid green;

}


.IMG {
    width: 450px;
    height: 450px;
    border: 2px soild red;
}
